
<div class="container">
  <h1>World Travel Blog</h1>
    <head>
    <script type="text/javascript">
      jQuery(document).ready(function() {
        jQuery('#vmap').vectorMap({
            map: 'world_en',
            backgroundColor: '#a5bfdd',
            borderColor: '#818181',
            borderOpacity: 0.25,
            borderWidth: 1,
            color: '#f4f3f0',
            enableZoom: false,
            hoverColor: '#c9dfaf',
            hoverOpacity: null,
            normalizeFunction: 'linear',
            scaleColors: ['#b6d6ff', '#005ace'],
            selectedColor: '#c9dfaf',
            selectedRegion: null,
            showTooltip: true,
            onRegionClick: function (event, code, region) {
                switch (code) {
                case "us":
                    window.location.replace("/tagged?tag=US");
                    break;
                case "ca":
                    window.location.replace("/tagged?tag=Canada");
                    break;
                case "mx":
                    window.location.replace("/tagged?tag=Mexico");
                    break;
                    }
                },
            onRegionOver: function (event, code, region) {
               document.body.style.cursor = "pointer";
                },
            onRegionOut: function (element, code, region) {
                   document.body.style.cursor = "default";
                }
        });
      });
    </script>
    </head>

    <body>

    <% content_for :javascripts do %>
      <script type="text/javascript">
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'gmap'}}, function(){
          markers = handler.addMarkers(<%= raw @hash.to_json %>);

          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
      </script>
    <% end %>
    <div>
      <div id="gmap" style='width: 100%; height: 400px;'></div>
    </div>

      <h3>Footprints</h3>

      <% @posts.each do |post| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title"><%= link_to post.title, post %></h2>
          </div>
          <div class="panel-body">
            <div class="postThumb col-md-12">
              <%= link_to image_tag(post.image.url), post , class: "img-thumbnail thumbnail"%>
            </div>
            <div>
                <p>
                  <b>From: </b><%= post.FromDate %><br>
                  <b>To: </b><%= post.ToDate %>
                </p>
                <p>
                  <% post.tags.any? %>
                    <% post.tags.each do |tag| %>
                      <%= link_to tag.name, tagged_url(:tag => tag.name), class: "btn btn-default btn-xs" %>
                    <% end %><br><br>
                  <% if user_signed_in? %>
                    <%= link_to 'edit', edit_post_path(post), class: "glyphicon glyphicon-edit" %>
                  <% end %>
                </p>
            </div>
          </div>
        </div>

      <% end %>

    </body>

  <br>

  <% if user_signed_in? %>
    <%= link_to '', new_post_path, class: "glyphicon glyphicon-plus-sign"%>
    <%= link_to '', post_attachments_path, class: "glyphicon glyphicon-list-alt"%>
  <% end %>
  <hr class="featurette-divider">
  <div>
    <h4>Tagged Locations</h4>
    <div id="vmap" style="width: 100%; height: 300px;" class="col-md-12"></div>
  </div>
</div>

