<div class="container">
  <h1>World Food and Travel Blog</h1>


    <head>
    <script type="text/javascript">
      jQuery(document).ready(function() {
        jQuery('#vmap').vectorMap({
            map: 'world_en',
            backgroundColor: '#a5bfdd',
            borderColor: '#818181',
            borderOpacity: 0.25,
            borderWidth: 1,
            color: '#f4f3f0',
            enableZoom: true,
            hoverColor: '#c9dfaf',
            hoverOpacity: null,
            normalizeFunction: 'linear',
            scaleColors: ['#b6d6ff', '#005ace'],
            selectedColor: '#c9dfaf',
            selectedRegion: null,
            showTooltip: true,
            onRegionClick: function (event, code, region) {
                switch (code) {
                case "us":
                    window.location.replace("/tagged?tag=US");
                    break;
                case "ca":
                    window.location.replace("/tagged?tag=Canada");
                    break;
                case "mx":
                    window.location.replace("/tagged?tag=Mexico");
                    break;
                    }
                },
            onRegionOver: function (event, code, region) {
               document.body.style.cursor = "pointer";
                },
            onRegionOut: function (element, code, region) {
                   document.body.style.cursor = "default";
                }
        });
      });
    </script>
    </head>

    <body>
      <div id="vmap" style="width: 100%; height: 350px;" data-no-turbolink= "true" class="col-md-12"></div>

      <h3>Atlas Journey</h3>

      <% @posts.each do |post| %>
        <div class="col-md-12 thumbnail">
          <div class="col-md-3">
          <%= link_to image_tag(post.image.url, width: "100%", ), post , class: "img-thumbnail thumbnail"%>
        </div>
        <div class="col-md-9">
          <h3><%= link_to post.title, post %></h3>
          <p>
            <% post.tags.any? %>
              <% post.tags.each do |tag| %>
                <%= link_to tag.name, tagged_url(:tag => tag.name), class: "btn btn-default btn-xs" %>
              <% end %><br><br>
            <% if user_signed_in? %>
              <%= link_to '', edit_post_path(post), class: "glyphicon glyphicon-edit" %>
            <% end %>
          </p>
        </div>
        </div>

      <% end %>
    </body>

  <br>

  <% if user_signed_in? %>
    <%= link_to '', new_post_path, class: "glyphicon glyphicon-plus-sign"%>
    <%= link_to '', post_attachments_path, class: "glyphicon glyphicon-list-alt"%>
  <% end %>
</div>
