<div class="container">
  <h1>World Food and Travel Blog</h1>


    <head>
      <div class="row">
        <div colspan="3"></div>
      </div>
    </head>

    <body>
      <div id="chart-1" style="width: 100%; height: 500px;">  <%= geo_chart({"United States" => 10, "Germany" => 1, "China" => 10, "Japan" => 30, "Mexico" => 1,"United Kingdom" =>2, "France" => 1, "Bahamas" => 1}) %></div>
      <br>
      <h3>Atlas Journey</h3>
      <% @posts.each do |post| %>
        <div class="thumbnail">
          <%= link_to image_tag(post.image.url), post , class: "img-thumbnail thumbnail"%>
          <h2><%= link_to post.title, post %></h2>
          <p>
            <% post.tags.any? %>
              <% post.tags.each do |tag| %>
                <%= link_to tag.name, tagged_url(:tag => tag.name), class: "btn btn-default btn-xs" %>
              <% end %><br><br>
            <% if user_signed_in? %>
              <%= link_to '', edit_post_path(post), class: "glyphicon glyphicon-edit" %>
              <%= link_to '', post_attachments_path(post), class: "glyphicon glyphicon-list-alt"%>
            <% end %>
          </p>
        </div>

      <% end %>

    </body>

  <br>

  <% if user_signed_in? %>
    <%= link_to 'New Post', new_post_path, class: "btn btn-link", data: {no_turbolink: true} %>
  <% end %>
</div>