<p id="notice"><%= notice %></p>

<h3>
  <strong><%= @post.title %></strong>
</h3>
<div class="col-md-12">
	<% @post_attachments.each do |p| %>
	  <div class="col-md-4">
		  <%= link_to image_tag(p.avatar_url, height: "200"), edit_post_attachment_path(p)%>
	  </div>
	<% end %>

	<div class="col-md-12">
		<br>
		<%= link_to '', posts_path, class: "glyphicon glyphicon-arrow-left" %> |
		<%= link_to '', edit_post_path(@post), class: "glyphicon glyphicon-edit" %> |
	    <%= link_to '', post_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash" %>
	</div>
</div>