<script type="text/javascript">
  $(document).ready(function() {
   
    $("#owlshow").owlCarousel({
      navigation : true,
      lazyLoad : true,
      items: 6,
      paginationSpeed : 400,
      transitionStyle : "fade",
      itemsDesktop : [1119, 3],
      itemsDesktopSmall : [979, 3],
      autoHeight : true,
      loop : true
    });
   
  });
</script>
<body>
<div class="container">
		<div class="row">
		<h2>
		  <strong><%= @post.title %></strong>
		</h2>
		<div id="owlshow" class="owl-carousel col-md-12">
			<% @post_attachments.each do |p| %>
				<%= link_to image_tag(p.avatar_url), edit_post_attachment_path(p)%>
			<% end %>
		</div>
		<div class="col-md-7">
		    <% content_for :javascripts do %>
		      <%= javascript_tag do %>
		      	var lat = <%= @post.latitude.to_json %>
		      	var long = <%= @post.longitude.to_json %>
				handler = Gmaps.build('Google');
				handler.buildMap({ provider: {},internal: {id: 'amap'}},function(){
				    markers = handler.addMarkers([
				      {
				        "lat": lat,
				        "lng": long,
				      }
				    ]);
				    handler.bounds.extendWith(markers);
				    handler.fitMapToBounds();
				    handler.getMap().setZoom(12);
				  });
		      <% end %>
		    <% end %>
		    <div>
		      <div id="amap" style='width: 100%; height: 300px;'></div>
		    </div>
		</div>
		<br>
		<div class="col-md-5">
			<%= image_tag @post.image.url, class: "img-rounded img-thumbnail", :style => "width:100%; max-height:200px" %>&nbsp
		</div>
		<div class="col-md-5">
			<b>Where: </b><%= @post.address %>&nbsp
		</div>
		<div class="col-md-5">
			<b>From: </b><%= @post.FromDate.strftime("%d %b %Y") %>&nbsp&nbsp&nbsp
			<b>To: </b><%= @post.ToDate.strftime("%d %b %Y") %>
		</div>

		<div class="col-md-12 col-sm-12">
			<div class="container-fluid"><br><br>
				<%=simple_format h @post.description %>
			</div>

			<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
			<div id="blueimp-gallery" class="blueimp-gallery">
				<div class="slides"></div>
				<h3 class="title"></h3>
				<a class="prev">‹</a>
				<a class="next">›</a>
				<a class="close">×</a>
				<a class="play-pause"></a>
				<ol class="indicator"></ol>
			</div>
			<h4><b>Image Gallery</b></h4>
			<div id="links">
				<% @post_attachments.each do |p| %>
					<%= link_to(image_tag(p.avatar_url, :style => "width: 75px"), p.avatar_url, :data => {:gallery => ''}) %>
				<% end %>
			</div>
			<div class="col-md-12 col-sm-12">&nbsp
				<div class ="col-md-12 col-sm-12">Tags: 
				    <% @post.tags.any? %>
				    	<% @post.tags.each do |tag| %>
				        	<%= link_to tag.name, tagged_url(:tag => tag.name), class: "btn btn-default btn-xs" %>
				        <% end %>
				</div>
			</div>

			&nbsp
			 <div id="disqus_thread"></div>
			    <script type="text/javascript">
			        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			        var disqus_shortname = 'ottle'; // required: replace example with your forum shortname

			        /* * * DON'T EDIT BELOW THIS LINE * * */
			        (function() {
			            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			        })();
			    </script>
			    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    
		&nbsp&nbsp
		</div>

		<div class="col-md-12 col-sm-12">
		<br>
			<%= link_to '', posts_path, class: "glyphicon glyphicon-arrow-left" %> |
			<% if user_signed_in? %>
				<%= link_to '', edit_post_path(@post), class: "glyphicon glyphicon-edit" %> |
				<%= link_to '', post_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash" %>
			<% end %>
		</div>
	</div>
</div>





</body>
