<nav class="navbar navbar-wrapper navbar-inverse" role="navigation">
   <nav class="navbar-inner">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <!-- <span class="icon-bar"></span> -->
          <span class="glyphicon glyphicon-list white" style="font-size: 20px"></span>
        </button>
        <a class="navbarbrand navbar-brand" href="/">Ottle</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "about me", pages_about_path %></li>
                <li><%= link_to "contact", pages_contact_path %></li>
              </ul
          </li>
          <li><%= link_to "Travel Blog", posts_path %></li>
          <li><%= link_to "Investment", pages_investment_path %></li>
          <li><%= link_to "CS Projects", pages_csprojects_path %></li>
        </ul>


        <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/listings">
                <span class="glyphicon glyphicon-shopping-cart fa-lg"></span>
                </a>
              </li>
              <% if user_signed_in? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Seller Account<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><%= link_to "Manage Listings", seller_path %></li>
                    <li><%= link_to "Sales History", sales_path %></li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span><%= current_user.name %><span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><%= link_to "Purchase History", purchases_path %></li>
                    <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                  </ul>
                </li>
     
              <% else %>
                <li>
                  <a href="/users/auth/facebook">
                    <i class="fa fa-facebook-official fa-lg"></i>
                  </a>
                </li>
                <li>
                  <a href="/users/sign_in">
                    <i class="fa fa-sign-in fa-lg"></i>
                  </a>
                </li>
                <li>
                  <%= link_to "Sign Up", new_user_registration_path %>
                </li>
              <% end %>
  

          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
  </nav>
</nav>